@import "../../styles/variables";

$fieldBgColor: #ffffff14;
$formBorderRadius: 15px;
$fieldBorderRadius: 8px;

.form {
  background-color: $primaryColor;
  border-radius: $formBorderRadius;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 28px;
  padding: 28px 40px;

  .control {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &__label {
      color: $secondaryTextColor;
      display: block;
      font-size: 12px;
      margin-bottom: 10px;
    }

    &__field {
      background-color: $fieldBgColor;
      border: none;
      border-radius: $fieldBorderRadius;
      color: inherit;
      font-size: 16px;
      padding: 0 16px;
      height: 40px;
      width: 100%;
    }

    &__select {
      font-family: inherit;

      &:focus {
        background-color: $primaryColor;
        border: 1px solid $highlightColor;
      }
    }
  }

  &__submit {
    background-color: $highlightColor;
    border: none;
    border-radius: $fieldBorderRadius;
    color: $secondaryColor;
    font-size: 16px;
    font-weight: bold;
    margin-top: 28px;
    height: 40px;
    width: 100%;
  }
}
