@import "../../../styles/variables";

$dataBorderRadius: 15px;

.table {
  border-spacing: 0px 20px;
  width: 100%;
  .head {
    .headers {
      color: $secondaryTextColor;
      font-size: 12px;
      padding: 8px 0;
      text-align: left;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        // padding-left: 20px;
      }
    }
  }

  .body {
    border-radius: $dataBorderRadius;

    .row {
      background-color: $primaryColor;
    }

    .data {
      padding: 20px 0;

      &:first-child {
        border-bottom-left-radius: $dataBorderRadius;
        border-top-left-radius: $dataBorderRadius;
        padding-left: 20px;
      }

      &:last-child {
        border-bottom-right-radius: $dataBorderRadius;
        border-top-right-radius: $dataBorderRadius;
        padding-right: 20px;
      }
    }
  }
}
