@import "../../styles/mixins";

// widths
$min-width: 375px;
$max-width: 1160px;

.container {
  margin: 0 20px;
  max-width: $max-width;
  // min-width: $min-width;

  @include large {
    margin: 0 60px;
  }

  @include extraLarge {
    margin: 0 auto;
  }
}
