@import "../../styles/variables";

.converter {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 75px 0 65px;
    padding: 0 80px 0 10px;
  }

  &__link {
    align-self: flex-end;
  }
}
