@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./styles/variables.scss";
@import "./styles/mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, $terciaryColor 50%, $secondaryColor 50%);
  color: $textColor;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  font-size: 14px;
  opacity: 0.5;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}
